<!DOCTYPE html>
<html>
<head>
    <title>Liferay Test Certificazione</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link href="css/main.css" rel="stylesheet" media="screen"> </link>
</head>
<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script th:src="@{js/script.js}"></script>


	<div class="thisone center">
	    <span class="btn btn-success">Domande Corrette: <b id="infoAnsGiusta">0</b></span><span class="btn btn-danger">Domande Errate: <b id="infoAnsSbagliata">0</b></span>
	</div>
    <div class="alert alert-warning">La seguente string "[[" e "]]" sosituisce l'apertura e chiusura del TAG maggiore e minore</div>

	<div class="panel panel-default" th:each="instance : ${qa}">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse"
					data-parent="#accordion" href="" th:href="@{#} + ${instance.value.id}"  th:utext="${#strings.replace(instance.value.question,'\\n','&lt;br /&gt;')}">Domandaaa</a>
			</h4>
		</div>
		
		<div th:id="${instance.value.id}" class="panel-collapse collapse">
			<div class="panel-body">
				<span th:text="${instance.value.answer}"></span>
				<div id="btnAnswer" class="center">
					<button class="btn btn-success">Corretta</button>
					<button class="btn btn-danger">Errata</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>